*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #1a1a1a;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo{
    max-width: 100px;
}

.cabecalho .logo img{
    width: 100%;
    border-radius: 50%;
}

.cabecalho ul{
    display: flex;
    gap: 10px;
}

.cabecalho ul li a{
    color: #e37218;
}

.cabecalho ul li a:hover{
    color: #fff;
}

main{
    max-width:  1440px;
    margin: 0 auto;
}

h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    background-color: #263238;
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 500px;
    min-height: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.box img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.box h3{
    margin-bottom: 5px;
}

.botao{
    align-self: flex-start;
    margin-top: auto;
    color: rgb(227, 114, 24);
    margin-bottom: 5px;
}

.botao:hover{
    color: #fff;
}


.veja-mais{
    text-align: center;
    padding: 20px;
}

.veja-mais a{
    color: #fff;
    text-decoration: underline;
}

footer{
    padding: 20px;
    background-color: lightslategray;
    text-align: center;
}

@media(max-width: 375px){
    .cabecalho{
        flex-direction: column;
    }
    .cabecalho .logo img{
        margin-bottom: 10px;
    }
}


